.sınıf_baslik{
    height: 120px;
    background-color: rgb(187, 187, 187);
}
.soruDiv{
    border: 1px;
    border-color:black;
    border-style: inset;
}
.sinavAyrinti{
    margin: 5px;
}
.input{
    border: 0.5px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;

}