
.sınıf_baslik{
    height: 120px;
    background-color: rgb(185, 162, 162) ;
    color: black;
}
.mini{
    margin-top: 8px;
    width: 23px;
    height: 25px;
    line-height: 40px;
}
.paylas{
    width: 65px;
    height: 30px;
    line-height: 40px;
}
.paylasim{
    height: 170px;
}
