
<ion-content>

  <ion-tabs #tabs>
    <ion-tab-bar>

      <ion-tab-button tab="siniflar">
        <ion-icon name="list" style="color: rgb(187, 187, 187)"></ion-icon>
        <ion-label>Sınıflar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dersprogrami">
        <ion-icon name="calendar" style="color:rgb(187, 187, 187)"></ion-icon>
        <ion-label>Ders Programı</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mesajlar">
        <ion-icon name="chatbubbles" style="color:rgb(187, 187, 187)"></ion-icon>
        <ion-label>Mesajlar</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
